{# /app/templates/tools/map.html #}
{% extends "base.html" %}

{% block title %}{% if lang == "ja" %}マップ{% else %}Map{% endif %} / {{ name }} - Brawl Insights{% endblock %}
{% block og_description %}{% if lang == "ja" %}マップ {{ name }}のページです。{% else %}Map {{ name }} Page.{% endif %}{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/pages/tools.css') }}?v={{ app_version }}">
{% endblock %}

{% block content %}
<div class="tools-page__container">
    {# 戻るボタン #}
    {% if platform != "web" %}
    <div class="back-button__container"
         x-data="{ showManualBackButton: localStorage.getItem('brawlInsightsShowNavBar') !== 'true' }"
         x-show="showManualBackButton"
         style="display: none;" {# FOUC(ちらつき)防止 #}>
        <div class="back-button">＜ {% if lang == "ja" %}戻る{% else %}Back{% endif %}</div>
    </div>
    {% endif %}

    <h1 class="page-title--main">{{ name }}</h1>

    <img src="https://cdn.brawlify.com/maps/regular/{{ id }}.png" class="map_image">

    {# バナー広告 #}
    {% include "components/ad_banner.html" %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
