# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.env
.env.*
!.env.example
instance/

# データベースファイル
data/
!app/data/
!app/data/drop_boxes.json
!app/data/trophy_rewards.json
*.db
*.db-shm
*.db-wal
*.sqlite3
*.gz

# ログファイル
*.log
logs/

# メモ
notes_private/

# IDE/エディタ設定ファイル
.vscode/
.cursor/
.VSCodeCounter/

# OS固有ファイル
.DS_Store
Thumbs.db

# Node.js / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 生成された画像
generated/
