        {% for id, post in posts.items() %}
        {# > 投稿者のIDを変数に格納 --- #}
        {% set author_user_id = post.data.host_id %}
        {% set author_anonymous_id = post.data.host_anonymous_id %}

        {# ブロック済みユーザーの投稿はチャットと同様に表示しない #}
        {% if not ((author_user_id and author_user_id in blocked_ids.user_ids) or
                (author_anonymous_id and author_anonymous_id in blocked_ids.anonymous_ids)) %}
            {% if post.data.category == "ranked" %}
                {% set image_path = "/images/ui/ranked.png" %}
                {% set title = "ガチバトル" if lang == "ja" else "Ranked" %}
                {% set color1 = "#ffd4d4" %}
                {% set color2 = "#d4d7ff" %}
            {% elif post.data.category == "friendly" %}
                {% set image_path = "/images/mode_icons/friendly.png" %}
                {% set title = "フレンドバトル" if lang == "ja" else "Friendly" %}
                {% set color1 = "#fff0d4" %}
                {% set color2 = "#eeffd4" %}
            {% elif post.data.category == "event" %}
                {% set image_path = "/images/mode_icons/event.png" %}
                {% set title = "特別イベント" if lang == "ja" else "Event" %}
                {% set color1 = "#ffd4e6" %}
                {% set color2 = "#ffd4d4" %}
            {% elif post.data.mode == "others" %}
                {% set image_path = "/images/ui/trophy.png" %}
                {% set title = "トロフィー" if lang == "ja" else "Trophy" %}
                {% set color1 = "#ffe7d4" %}
                {% set color2 = "#fff6d4" %}
            {% elif post.data.mode == "5v5" %}
                {% set image_path = "/images/ui/friends_old.png" %}
                {% set title = "5対5ゲームモード" if lang == "ja" else "5v5 Game Mode" %}
                {% set color1 = "#d4f6ff" %}
                {% set color2 = "#ffd4f9" %}
            {% else %}
                {% set image_path = "/images/mode_icons/" + post.data.mode + ".png" %}
                {% if post.data.mode == "duoShowdown" %}
                    {% set title = "デュオ バトルロイヤル" if lang == "ja" else "Duo Showdown" %}
                    {% set color1 = "#e4ffd4" %}
                    {% set color2 = "#d4ffd4" %}
                {% elif post.data.mode == "trioShowdown" %}
                    {% set title = "トリオ バトルロイヤル" if lang == "ja" else "Trio Showdown" %}
                    {% set color1 = "#d4ffe2" %}
                    {% set color2 = "#d4ffec" %}
                {% elif post.data.mode == "gemGrab" %}
                    {% set title = "エメラルドハント" if lang == "ja" else "Gem Grab" %}
                    {% set color1 = "#eed4ff" %}
                    {% set color2 = "#f9d4ff" %}
                {% elif post.data.mode == "brawlBall" %}
                    {% set title = "ブロストライカー" if lang == "ja" else "Brawl Ball" %}
                    {% set color1 = "#d4d4ff" %}
                    {% set color2 = "#dfd4ff" %}
                {% elif post.data.mode == "heist" %}
                    {% set title = "強奪" if lang == "ja" else "Heist" %}
                    {% set color1 = "#fed4ff" %}
                    {% set color2 = "#ffd4ec" %}
                {% elif post.data.mode == "bounty" %}
                    {% set title = "賞金稼ぎ" if lang == "ja" else "Bounty" %}
                    {% set color1 = "#d4fffd" %}
                    {% set color2 = "#d4f9ff" %}
                {% elif post.data.mode == "hotZone" %}
                    {% set title = "ホットゾーン" if lang == "ja" else "Hot Zone" %}
                    {% set color1 = "#ffd4e4" %}
                    {% set color2 = "#ffd4d4" %}
                {% elif post.data.mode == "knockout" %}
                    {% set title = "ノックアウト" if lang == "ja" else "Knockout" %}
                    {% set color1 = "#ffe7d4" %}
                    {% set color2 = "#fff1d4" %}
                {% endif %}
            {% endif %}
            <div class="post-card-wrapper">
                <div class="card post-card post-card--team" style="background: linear-gradient(90deg, {{ color1 }}, {{ color2 }});">
                    {# ゲームモード・募集タイプバッジ・n分前テキスト #}
                    <div class="post-card__header">
                        <img src="{{ url_for('static', path=image_path) }}" alt="モードアイコン" class="post-card__player-icon">
                        <p class="post-card__title">{{ title }}</p>
                        <div class="post-card__header-meta">
                            {% if post.data.is_later_recruitment %}
                            <span class="post-card__recruit-type-badge post-card__recruit-type-badge--later">{% if lang == "ja" %}後から募集{% else %}Later{% endif %}</span>
                            {% else %}
                            <span class="post-card__recruit-type-badge post-card__recruit-type-badge--instant">{% if lang == "ja" %}今すぐ募集{% else %}Instant{% endif %}</span>
                            {% endif %}
                            <p class="post-card__ago-text" data-created-at="{{ post.data.created_at }}" style="color: #555;">{{ post.data.ago_ja if lang == "ja" else post.data.ago_en }}</p>
                        </div>
                    </div>
                    {# ガチバトルランクの翻訳表 (ダイヤモンドはダイヤに省略) #}
                    {% set rank_map_ja = {
                        22: 'プロ', 21: 'マスター Ⅲ', 20: 'マスター Ⅱ', 19: 'マスター Ⅰ',
                        18: 'レジェ Ⅲ', 17: 'レジェ Ⅱ', 16: 'レジェ Ⅰ',
                        15: 'エリ Ⅲ', 14: 'エリ Ⅱ', 13: 'エリ Ⅰ',
                        12: 'ダイヤ Ⅲ', 11: 'ダイヤ Ⅱ', 10: 'ダイヤ Ⅰ',
                        9: 'ゴールド Ⅲ', 8: 'ゴールド Ⅱ', 7: 'ゴールド Ⅰ',
                        6: 'シルバー Ⅲ', 5: 'シルバー Ⅱ', 4: 'シルバー Ⅰ',
                        3: 'ブロンズ Ⅲ', 2: 'ブロンズ Ⅱ', 1: 'ブロンズ Ⅰ', 0: 'ランクなし'
                    } %}
                    {% set rank_map_en = {
                        22: 'Pro', 21: 'Mst. Ⅲ', 20: 'Mst. Ⅱ', 19: 'Mst. Ⅰ',
                        18: 'Leg. Ⅲ', 17: 'Leg. Ⅱ', 16: 'Leg. Ⅰ',
                        15: 'Myth. Ⅲ', 14: 'Myth. Ⅱ', 13: 'Myth. Ⅰ',
                        12: 'Dia. Ⅲ', 11: 'Dia. Ⅱ', 10: 'Dia. Ⅰ',
                        9: 'Gld. Ⅲ', 8: 'Gld. Ⅱ', 7: 'Gld. Ⅰ',
                        6: 'Slv. Ⅲ', 5: 'Slv. Ⅱ', 4: 'Slv. Ⅰ',
                        3: 'Brz. Ⅲ', 2: 'Brz. Ⅱ', 1: 'Brz. Ⅰ', 0: 'No Rank'
                    } %}
                    {# ホスト情報と条件 #}
                    <div class="post-card__info-and-conditions" style="min-width: 210px;">
                        <div class="post-card__host-info">
                            <p class="post-card__host-info-title">{% if lang == "ja" %}ホスト{% else %}Host{% endif %}: {{ post.data.hostplayer.name }}</p>
                            {% if post.data.hostplayer %}
                            <div class="post-card__host-info-scroll-area">
                            <div class="post-card__host-info-stats">
                                <div style="flex: 1;">
                                    <div class="post-card__host-info-stat">
                                        <img src="{{ url_for('static', path='/images/ui/leaderboard_bottom.png') }}" alt="最多トロフィー" class="icon--stat post-card__host-info-stat-icon">
                                        <p class="post-card__host-info-stat-text">{% if lang == "ja" %}最多{% else %}Hi.{% endif %}</p>
                                        <p class="post-card__host-info-stat-value">{{ "{:,}".format(post.data.hostplayer.highest_trophies) if post.data.hostplayer.highest_trophies else "-" }}</p>
                                    </div>
                                    <div class="post-card__host-info-stat">
                                        <img src="{{ url_for('static', path='/images/ui/trophy.png') }}" alt="トロフィー" class="icon--stat post-card__host-info-stat-icon">
                                        <p class="post-card__host-info-stat-text">{% if lang == "ja" %}現在{% else %}Cur.{% endif %}</p>
                                        <p class="post-card__host-info-stat-value">{{ "{:,}".format(post.data.hostplayer.current_trophies) if post.data.hostplayer.current_trophies else "-" }}</p>
                                    </div>
                                </div>
                                <div style="flex: 1;">
                                    <div class="post-card__host-info-stat">
                                        {% if post.data.hostplayer.ranked_highest_rank in range(1, 23) %}
                                        <img src="{{ url_for('static', path='/images/ranked_icons/' + post.data.hostplayer.ranked_highest_rank|string + '.png') }}" alt="ガチバトルランク" class="icon--stat post-card__host-info-stat-icon post-card__host-info-stat-icon-ranked">
                                        {% endif %}
                                        <p class="post-card__host-info-stat-text">{% if lang == "ja" %}最高{% else %}Hi.{% endif %}</p>
                                        <p class="post-card__host-info-stat-value">{{ '{:,}'.format(post.data.hostplayer.ranked_highest_score) if post.data.hostplayer.ranked_highest_score else "-" }}</p>
                                    </div>
                                    <div class="post-card__host-info-stat">
                                        {% if post.data.hostplayer.ranked_current_rank in range(1, 23) %}
                                        <img src="{{ url_for('static', path='/images/ranked_icons/' + post.data.hostplayer.ranked_current_rank|string + '.png') }}" alt="ガチバトルランク" class="icon--stat post-card__host-info-stat-icon post-card__host-info-stat-icon-ranked">
                                        {% endif %}
                                        <p class="post-card__host-info-stat-text">{% if lang == "ja" %}現在{% else %}Cur.{% endif %}</p>
                                        <p class="post-card__host-info-stat-value">{{ '{:,}'.format(post.data.hostplayer.ranked_current_score) if post.data.hostplayer.ranked_current_score else "-" }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-card__host-info-stats">
                                <div style="flex: 1; margin: auto 0;">
                                    <div class="post-card__host-info-stat">
                                        <img src="{{ url_for('static', path='/images/ui/total_prestige.png') }}" alt="トップランカーレベル" class="icon--stat post-card__host-info-stat-icon">
                                        <p class="post-card__host-info-stat-value">{{ post.data.hostplayer.total_prestige_level if post.data.hostplayer.total_prestige_level not in [0, -1, none] else "-" }}</p>
                                    </div>
                                </div>
                                <div style="flex: 1;">
                                    <div class="post-card__host-info-stat">
                                        <img src="{{ url_for('static', path='/images/ui/prestige.png') }}" alt="旧トップランカー" class="icon--stat post-card__host-info-stat-icon">
                                        <p class="post-card__host-info-stat-value">{{ post.data.hostplayer.prestige if post.data.hostplayer.prestige not in [0, -1, none] else "-" }}</p>
                                    </div>
                                </div>
                                <div style="flex: 2;">
                                    <div class="post-card__host-info-stat" style="margin-left: -1.5px;">
                                        <img src="{{ url_for('static', path='/images/tier_icons/35.webp') }}" alt="旧ランク35" class="icon--stat post-card__host-info-stat-icon">
                                        <p class="post-card__host-info-stat-text">{% if lang == "ja" %}旧紺盾{% else %}Old R35s{% endif %}</p>
                                        <p class="post-card__host-info-stat-value">{{ post.data.hostplayer.legacy_rank_35s if post.data.hostplayer.legacy_rank_35s not in [0, -1, none] else "-" }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-card__host-info-stats">
                                <div class="post-card__host-info-stat">
                                    {% if post.data.hostplayer.solo_pl_rank %}
                                        <img src="{{ url_for('static', path='/images/ranked_mini_icons/' + post.data.hostplayer.solo_pl_rank|string + ('_old' if post.data.hostplayer.solo_pl_rank == 19 else '') + '.png') }}" alt="ガチバトルランク" class="icon--stat post-card__host-info-stat-icon post-card__host-info-stat-icon-ranked">
                                    {% endif %}
                                    <p class="post-card__host-info-stat-text" style="margin-right: 3.5px;">{% if lang == "ja" %}ソロPL最高ランク{% else %}Solo PL Highest{% endif %}</p>
                                    <p class="post-card__host-info-stat-value">{{ (rank_map_ja[post.data.hostplayer.solo_pl_rank if post.data.hostplayer.solo_pl_rank else 0] if lang == "ja" else rank_map_en[post.data.hostplayer.solo_pl_rank if post.data.hostplayer.solo_pl_rank else 0])[:(-2 if post.data.hostplayer.solo_pl_rank == 19 else none)] }}</p>
                                </div>
                            </div>
                            </div>
                            <a href="{{ url_for('get_player_profile', lang=lang, tag=post.data.hostplayer.tag[1:]) }}">
                                <div class="button button--primary post-card__host-info-button" style="border-color: #111;">
                                    {% if lang == "ja" %}詳細なプロフィールを確認{% else %}Check Detailed Profile{% endif %}
                                </div>
                            </a>
                            {% endif %}
                        </div>
                        <div class="post-card__conditions-box" style="min-width: 130px;">
                            <p class="post-card__conditions-box-title">{% if lang == "ja" %}条件{% else %}Conditions{% endif %}</p>
                            {% if not post.data.required_highest_trophies and not post.data.required_ranked_highest_rank and not post.data.required_ranked_current_rank and not post.data.required_solo_pl_rank and not post.data.required_prestige %}
                            <div class="post-card__conditions-list-wrapper">
                                <p class="post-card__no-conditions-text">({% if lang == "ja" %}条件はありません{% else %}No Conditions{% endif %})</p>
                            </div>
                            {% else %}
                                <div class="post-card__conditions-list-wrapper">
                                    {% if post.data.required_highest_trophies %}
                                        <div class="post-card__host-info-stat">
                                            <img src="{{ url_for('static', path='/images/ui/leaderboard_bottom.png') }}" alt="最多トロフィー" class="icon--stat post-card__host-info-stat-icon">
                                            <p class="post-card__host-info-stat-text">{% if lang == "ja" %}最多{% else %}Hi.{% endif %}</p>
                                            <p class="post-card__host-info-stat-value">{{ "{:,}".format(post.data.required_highest_trophies) }}+</p>
                                        </div>
                                    {% endif %}
                                    {% if post.data.required_ranked_highest_rank %}
                                        <div class="post-card__host-info-stat">
                                            <img src="{{ url_for('static', path='/images/ranked_icons/' + post.data.required_ranked_highest_rank|string + '.png') }}" alt="ガチバトルランク" class="icon--stat post-card__host-info-stat-icon post-card__host-info-stat-icon-ranked">
                                            <p class="post-card__host-info-stat-text" style="margin-right: 3.5px;">{% if lang == "ja" %}最高{% else %}Hi. {% endif %}</p>
                                            <p class="post-card__host-info-stat-value">{{ rank_map_ja[post.data.required_ranked_highest_rank] if lang == "ja" else rank_map_en[post.data.required_ranked_highest_rank] }}</p>
                                        </div>
                                    {% endif %}
                                    {% if post.data.required_ranked_current_rank %}
                                        <div class="post-card__host-info-stat">
                                            <img src="{{ url_for('static', path='/images/ranked_icons/' + post.data.required_ranked_current_rank|string + '.png') }}" alt="ガチバトルランク" class="icon--stat post-card__host-info-stat-icon post-card__host-info-stat-icon-ranked">
                                            <p class="post-card__host-info-stat-text" style="margin-right: 3.5px;">{% if lang == "ja" %}現在{% else %}Cur. {% endif %}</p>
                                            <p class="post-card__host-info-stat-value">{{ rank_map_ja[post.data.required_ranked_current_rank] if lang == "ja" else rank_map_en[post.data.required_ranked_current_rank] }}</p>
                                        </div>
                                    {% endif %}
                                    {% if post.data.required_solo_pl_rank %}
                                        <div class="post-card__host-info-stat">
                                            <img src="{{ url_for('static', path='/images/ranked_mini_icons/' + post.data.required_solo_pl_rank|string + ('_old' if post.data.required_solo_pl_rank == 19 else '') + '.png') }}" alt="ガチバトルランク" class="icon--stat post-card__host-info-stat-icon post-card__host-info-stat-icon-ranked">
                                            <p class="post-card__host-info-stat-text" style="margin-right: 3.5px;">{% if lang == "ja" %}ソロPL{% else %}Solo PL {% endif %}</p>
                                            <p class="post-card__host-info-stat-value">{{ (rank_map_ja[post.data.required_solo_pl_rank] if lang == "ja" else rank_map_en[post.data.required_solo_pl_rank])[:(-2 if post.data.required_solo_pl_rank == 19 else none)] }}</p>
                                        </div>
                                    {% endif %}
                                    {% if post.data.required_prestige %}
                                        <div class="post-card__host-info-stat">
                                            <img src="{{ url_for('static', path='/images/ui/prestige.png') }}" alt="トップランカー" class="icon--stat post-card__host-info-stat-icon">
                                            <p class="post-card__host-info-stat-text">{% if lang == "ja" %}所持{% else %}{% endif %}</p>
                                            <p class="post-card__host-info-stat-value">{{ post.data.required_prestige }}+</p>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if post.data.conditions_application_type == "and" %}
                                    <div class="button button--red post-card__host-info-button">
                                        {% if lang == "ja" %}<b>すべて</b>満たす{% else %}<b>All</b><span style="margin-left: 0.27em;">Match</span>{% endif %}
                                    </div>
                                {% else %}
                                    <div class="button button--blue post-card__host-info-button">
                                        {% if lang == "ja" %}<b>いずれか</b>を満たす{% else %}<b>Any</b><span style="margin-left: 0.27em;">Match</span>{% endif %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {# コメント #}
                    <div class="post-card__comment-container">
                        {# <p class="post-card__comment-container-title">{% if lang == "ja" %}ひとこと{% else %}Comment{% endif %}</p> #}
                        <div class="post-card__comment-scroll">
                            {% if post.data.comment %}
                            <p class="post-card__comment-text">{{ post.data.comment|censor }}</p>
                            {% else %}
                            <p class="post-card__comment-empty">({% if lang == "ja" %}コメントはありません{% else %}No Comment{% endif %})</p>
                            {% endif %}
                        </div>
                    </div>
                    {# チャット/通報or削除/ブロック/リンク #}
                    <div class="post-card__link-container">
                        {% if post.data.chat_permission_level <= 0 %}
                        <div class="button post-card__chat-button disabled">
                            <img src="{{ url_for('static', path='/images/ui/comment.png') }}" alt="チャット" class="post-card__link-button-icon">
                            {% if lang == "ja" %}閉鎖{% else %}Closed{% endif %}
                        </div>
                        {% else %}
                        <a href="{{ url_for('chat_thread', lang=lang, thread_id=id) }}" style="display: flex;">
                            <div class="button post-card__chat-button">
                                <img src="{{ url_for('static', path='/images/ui/comment.png') }}" alt="チャット" class="post-card__link-button-icon">
                                {{ post.data.message_count }}
                            </div>
                        </a>
                        {% endif %}
                        {% set is_host = (current_user and current_user.id == post.data.host_id) or (ip == post.data.host_ip) %}
                        {% set is_effectively_closed = post.data.is_effectively_closed %}
                        {% if current_user and current_user.is_admin and not is_host %}
                            <div id="delete-btn-{{ id }}" data-post-id="{{ id }}" class="button post-card__delete-button">
                                {% if lang == "ja" %}削除{% else %}Delete{% endif %}
                            </div>
                        {% elif is_host %}
                            {% if is_effectively_closed %}
                            <div id="reopen-btn-{{ id }}" data-post-id="{{ id }}" class="button post-card__reopen-button">
                                {% if lang == "ja" %}募集再開{% else %}Reopen{% endif %}
                            </div>
                            {% else %}
                            <div id="close-btn-{{ id }}"
                                 data-post-id="{{ id }}"
                                 data-created-at="{{ post.data.created_at }}"
                                 data-close-cooldown-seconds="{{ team_post_close_cooldown_seconds }}"
                                 class="button post-card__close-button">
                                {% if lang == "ja" %}募集終了{% else %}Close{% endif %}
                            </div>
                            {% endif %}
                        {% else %}
                            <div id="report-btn-{{ id }}" data-post-id="{{ id }}" class="button post-card__report-button">
                                {% if lang == "ja" %}通報{% else %}Report{% endif %}
                            </div>
                            <div class="button post-card__block-button"
                                data-blocked-user-id="{{ author_user_id or '' }}"
                                data-blocked-anonymous-id="{{ author_anonymous_id or '' }}">
                                {% if lang == "ja" %}ブロック{% else %}Block{% endif %}
                            </div>
                        {% endif %}
                        {% if is_effectively_closed %}
                        <div class="button button--primary post-card__link-button disabled"
                            onclick='{% if lang == "ja" %}alert("この募集は終了しました。");{% else %}alert("This recruitment has ended.");{% endif %}'>
                            {% if lang == "ja" %}募集は終了しました{% else %}Ended{% endif %}
                        </div>
                        {% elif post.data.is_later_recruitment %}
                            {% set has_conditions = post.data.required_highest_trophies or post.data.required_ranked_highest_rank or post.data.required_solo_pl_rank or post.data.required_prestige or post.data.required_current_trophies or post.data.required_ranked_current_rank or post.data.required_ranked_highest_score or post.data.required_ranked_current_score or post.data.required_max_power_brawlers %}
                            {% if post.is_permitted_to_chat or is_host or (current_user and current_user.is_admin) %}
                            <a href="{{ url_for('chat_thread', lang=lang, thread_id=id) }}" style="display: flex; flex: 1;">
                                <div class="button button--primary post-card__link-button">
                                    {% if lang == "ja" %}チャットに参加{% else %}Join Chat{% endif %}
                                </div>
                            </a>
                            {% elif current_user and main_account %}
                            <div class="button button--primary post-card__link-button disabled"
                                onclick='
                                {% if lang == "ja" %}
                                    alert("あなたのメインアカウント(\"{{ main_account.name }}\")の情報が条件を満たしていないため、参加できません。\nなお、メインアカウントを変更したい場合はアカウントタブから行えます。\nチャットスレッドの閲覧自体は、投稿左下のボタンより可能です。");
                                {% else %}
                                    alert("You cannot join because your main account (\"{{ main_account.name }}\") does not meet the conditions.\nIf you want to change your main account, you can do so from the Account tab.\nYou can still view the chat thread from the button at the bottom left of the post.");
                                {% endif %}
                                '
                            >
                                {% if lang == "ja" %}条件を満たしていません{% else %}Conditions Not Met{% endif %}
                            </div>
                            {% elif has_conditions %}
                            <div class="button button--primary post-card__link-button disabled"
                                onclick='
                                {% if lang == "ja" %}
                                    alert("条件付きの募集に参加するには、条件判定のためアカウントタブよりログインしてください。\nアカウント作成にメールアドレス等は不要です。");
                                {% else %}
                                    alert("To apply for posts with conditions, please log in from the Account tab to verify the conditions.\nNo email address is required to create an account.");
                                {% endif %}
                                '
                            >
                                {% if lang == "ja" %}ログインして条件判定{% else %}Log In to Apply{% endif %}
                            </div>
                            {% else %}
                            <div class="button button--primary post-card__link-button disabled"
                                onclick='
                                {% if lang == "ja" %}
                                    alert("アカウントタブよりログインすると、この募集のチャットに参加できます。\nアカウント作成にメールアドレス等は不要です。");
                                {% else %}
                                    alert("Log in from the Account tab to join this recruitment chat.\nNo email address is required to create an account.");
                                {% endif %}
                                '
                            >
                                {% if lang == "ja" %}ログインして参加{% else %}Log In to Join{% endif %}
                            </div>
                            {% endif %}
                        {% elif post.is_permitted_to_click_link or is_host %}
                        <a href="{{ post.data.link }}" style="display: flex; flex: 1;" {% if platform != 'web' %}target="_blank"{% endif %}>
                            <div class="button button--primary post-card__link-button">
                                {% if is_host %}
                                    {% if lang == "ja" %}あなたの投稿です{% else %}Your Post{% endif %}
                                {% else %}
                                    {% if lang == "ja" %}参加{% else %}Join{% endif %}
                                {% endif %}
                            </div>
                        </a>
                        {% else %}
                        <div class="button button--primary post-card__link-button disabled"
                            onclick='
                            {% if current_user and main_account %}
                                {% if lang == "ja" %}
                                    alert("あなたのメインアカウント(\"{{ main_account.name }}\")の情報が条件を満たしていないため、参加できません。\nなお、メインアカウントを変更したい場合はアカウントタブから行えます。");
                                {% else %}
                                    alert("You cannot join the team because your main account (\"{{ main_account.name }}\") does not meet the conditions.\nIf you want to change your main account, you can do so from the Account tab.");
                                {% endif %}
                            {% else %}
                                {% if lang == "ja" %}
                                    alert("条件付きの募集に参加するには、条件判定のためアカウントタブよりログインしてください。\nアカウント作成にメールアドレス等は不要です。");
                                {% else %}
                                    alert("To apply for posts with conditions, please log in from the Account tab to verify the conditions.\nNo email address is required to create an account.");
                                {% endif %}
                            {% endif %}
                            '
                        >
                            {% if current_user and main_account %}
                                {% if lang == "ja" %}条件を満たしていません{% else %}Conditions Not Met{% endif %}
                            {% else %}
                                {% if lang == "ja" %}ログインして条件判定{% else %}Log In to Apply{% endif %}
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
